.ForgotPasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  justify-content: center;
  min-height: 100vh;
  background-color: rgba(0, 255, 255, 0.226);
  flex-wrap: wrap;
  gap: 1rem;
  
}


.forgot-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 500px;
    height: 150px;
    border-radius: 14px;
    box-shadow: 0 0 10px #1dffd2;
    background-color: rgba(53, 53, 53, 0.589);
    
}


.forgot-card input {
   
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(49, 181, 224);
    
    
}

.forgot-card input:focus{
    box-shadow: 0 0 10px #00ffff;
}

.forgot-card input::placeholder {
    color: rgb(152, 152, 152);
}


.forgot-card button {
  vertical-align: middle;
  background-color: rgb(49, 181, 224);
  color: rgb(215, 14, 142);
  border: 2px solid rgb(32, 254, 77);
  border-radius: 4px;
  padding: 9px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  max-width: 10rem;
  
  transition: background-color 0.3s ease;
}


.forgot-card button:hover {
    color: rgb(32, 250, 254);
    background-color: rgb(215, 14, 142);
    border-color: rgb(32, 250, 254); /* Borde al hacer hover */
}

.forgot-card form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

