.movie-list-container {
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 12px;
    margin: 2rem;
}

.movie-table {
    width: 100%;
    border-collapse: collapse;
}

.movie-table th, .movie-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

.movie-table th {
    background-color: #5b21b6;
    color: white;
}

.movie-table img {
    border-radius: 6px;
}

.error-msg {
    color: red;
}